body{
	background-color: #000;
}
.hi{
	color:#fff;
	font-family:'lato',sans-serif ;
	font-size: 20px;
	font-weight: 400;
    margin-left:100px; 
    line-height: 33px;
    margin-top: 400px;
    padding-bottom: -100px;
     letter-spacing: 2px;
    
}
.love{
	color:#fff;
	font-family: 'lato',sans-serif ;
	font-size: 20px;
	font-weight: 400;
    margin-left:100px; 
    padding-top: 10px;
    letter-spacing: 2px;
}



.career{
	color:#a0522d;
	text-decoration: none;
}
.career:hover{
	text-decoration: underline;
}

 a.media{
	text-decoration:none;
	color:#a0522d;
	position: relative;
	left:77px;
	word-spacing:0.5em;
	margin-left: 20px;
	
}
a.media:hover{
	text-decoration: underline;
}
a.social{
	display:inline-block;
	text-decoration:none;
	color:#a0522d;
	margin-left: 20px;
	position: relative;
	left:85px;
	
}

@media (min-width: 500px){
	.desktop{
		display:block;
	}
	.mobile{
		display:none;
	}
}

@media (max-width: 501px){
	.desktop{
		display:none;
	}
	
	.mobile{
		display:block;
	}
}
		

i{
	color:#a0522d;
}